<appSettings>
  <add key="FacebookAppID" value="105269293393972" />
  <add key="FacebookAppSecret" value="e397b30b3f302b3a7454077d3d69cbff" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>